.signUpPopup {
  position: fixed;
  z-index: 1;
  width: 30%;
  min-height: 40%;
  background-color: var(--primary-color-pacific-blue);
  padding: 20px;
  margin-top: 200px;
  margin-left: 650px;
}