.panel {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 260px;
}

.filterPanel {
  border: 1px solid var(--primary-color-border);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
}

button {
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 16px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  background-color: var(--primary-color-white);
  cursor: pointer;

  h2 {
    font-size: 18px;
  }
}

.filterSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  color: #000;
  background-color: var(--primary-color-white);
  padding: 14px 16px;
  border-top: 1px solid var(--primary-color-border);
  
  h3 {
    font-size: 15px;
    font-weight: 400;
  }

  .sortSelect {
    width: 100%;
    padding: 10px;
    background-color: #e4e7eb;
    border-color: #e4e7eb;
    border-radius: 5px;
    border-right: 8px solid transparent;
  }
}

.search {
  background-color: var(--primary-color-prussian-blue);
  color: var(--primary-color-white);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
}
